

{{ form_start(form) }}
<label class="checkbox_export">Valider l'Exportation Excel
    <input type="checkbox" name="export_excel" value="1">
    <span class="checkmark"></span>
  </label>
  
<div class="row">
    <div class="col">
        {{ form_row(form.nomprenom) }}
    </div>

    <div class="col">
        {{ form_row(form.etsouservice) }}
    </div>

    <div class="col">
        {{ form_row(form.categorie) }}
    </div>
    {{ form_rest(form) }}
    <div class="col">
        <button type="submit" class="btn btn-primary"> Lancer...</button>
    </div>
    {{ form_end(form) }}    
 
</div>
 


 
