<div class="row formSearch" id="Search">
    <div class="col-md-3"> {{ form_row(form.nomprenom) }}</div>
    <div class="col-md-3"> {{ form_row(form.etsouservice) }}</div>
    <div class="col-md-3"> {{ form_row(form.categorie) }}</div>
    <div class="col-md-3"> {{ form_row(form.detachement) }}</div>

    {{ form_rest(form) }}
    <div class="text-left">
        <button class="btn btn-success" > Recherche </button>
    </div>
</div>