{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Page d'accueil {% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="text-center text-primary" style="font-family: Impact; color: #0b2e13" ><h2>Direction Centrale du Commissariat des Armées</h2></div>
     <div class="bd-example mb-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('/images/accueil/tranodia.JPG') }}" class="d-block w-100" alt="..." style="width: 1750px; height:300px ">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>    
    <hr>
    <h2 style="font-family: Impact; color: #0b2e13" >Les Directeurs successifs de la DCCA</h2>
    <hr>
    <div class="row flex">
    {% for directeur  in directeurs %}
        <div class="col-3">
            <div class="card mb-4" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(directeur, 'imageFile') }}" alt="card-img-top" style="width: auto; height: 250px">
                <div class="card-body">
                    <h5 class="card-title">{{ directeur.grade }} {{ directeur.nom }}</h5>
                    <p class="card-text">{{ directeur.periode }}</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
    {{ knp_pagination_render(directeurs) }}

<div class="container">
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0 alert alert-info">Historique de la DCCA</h5>
            <p>
                La mission de l'Intendance est de procurer au combattant une eff icacité maximale en contribution
                à son bien être, tant matériel que moral et celui de sa famille. En tant que direction d'un service
                de soutien, elle est tenue de satisfaire les besoins des armées en fonction des ressources et des moyens
                qui lui sont consentis ainsi que des priorités et échéances fixées par le commandement. Le plus grand
                changement concerne la scission de l'Administration militaire, jusque le unique, en Direction de l'Intendance
                pour la partie finance, administration de soutien de l'homme et en Direction des Matériels Techniques pour
                le soutien en maintenance. Cette restructuration de l'administration militaire en 1988 entraine des modifications
                importantes dans la chaine logistique de soutien Intendance: Etablissement Militaire de l'Industrie de Vêtement
                (EMIV) ainsi que l'Etablissement Militaire de l'Industrie de la Chaussure (EMIC), L'Etablissement de l’Imprimerie
                de l'Armée (EIA) sont affectes à la DMT pour la subordination, alors que l'habillement fait partie normalement de
                la chaine soutien de l'homme. En 1994, la Direction de l'Intendance de l'Armée (DIA), son appellation actuelle,
                remplace la Direction de l'Intendance de l'Armée Populaire. Le décret de modification ramène également les établissements
                habillement et chaussures dans les girons de l'Intendance. Il à fallu attendre ainsi dix ans plus tard, l’année 2004,
                avant que l'application de cette réintégration soit réalisée. La DIA assume actuellement le rôle et les attributions
                d'un service de l'Administration générale mais aussi logistique de l'armée. <a href="#">Details...</a>
            </p>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

    <div > 
        <div class="list-group-item list-group-item-warning">
            Google map - DIA/CAPSAT Soanierana
        </div>
        <div class="col-md-12 card-body mt-4">
            <base target="">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.158064852258!2d47.52372718653123!3d-18.937708513181054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21f07e7f22278151%3A0x9bf8193928e7eab6!2sCAPSAT+Madagascar!5e1!3m2!1sfr!2smg!4v1554899491631!5m2!1sfr!2smg" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
            </iframe>
        </div> 
    </div>

{% endblock %}


{% block javascripts %}{% endblock %}





