{% extends 'base.html.twig' %}

{% block body %}

 

    <form action="{{ path('home_consultDeco') }}" method="get">
        <div class="box box-solid bg-green-gradient">
            <div class="box-header">
                <i class="fa fa-calendar"></i>
                <h3 class="box-title">Distinction Honorifique Civil</h3>

            </div><!-- /.box-header -->

        </div>
        <div class="was-validated">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="option" class="custom-control-input" value="consultation">
                <label class="custom-control-label text-primary" for="customRadioInline1"><h5>Consultation</h5></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="option" class="custom-control-input" value="proposition">
                <label class="custom-control-label text-primary" for="customRadioInline2"><h5>Proposition</h5></label>
            </div>
            <hr>
        </div>

        <div class="row">

            {% for listedeco in listedeco %} 
            <div class="col-md-6">
                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="{{ listedeco.id }}">
                                <i class="fa fa-folder-open"></i>
                                {{ listedeco.libelle }} :: âges : {{ listedeco.age }} :: Année de Sercive : {{ listedeco.anneeservice }}
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
 
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rechercher</button>
        </div>


    </form>
{% endblock %}