{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}


    <div class="mb-4 style">
        <div class="close-container">
            <img src="{{ asset('/images/app-img/close.jpg') }}"  alt="Fermer" >
        </div>
        <div class="text-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        
        <h1 >Efféctif personnel civil : {{ nombrePersonnel }}</h1>
        <div class="row">

            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                    <div class="info-box-content progressBar">
                        <span class="info-box-text" style="font-size: 1rem">ECD</span>
                        <span class="info-box-number" > : {{ effectECD }}</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" style="width:{{ sommeECD }}%"> {{ sommeECD }} %</div>
                        </div>
                        <span class="progress-description"> </span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>



            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                    <div class="info-box-content progressBar">
                        <span class="info-box-text" style="font-size: 1rem">EFA</span>
                        <span class="info-box-number"> : {{ effectEFA }} </span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" style="width:{{ sommeEFA }}%">{{ sommeEFA }}%</div>
                        </div>
                        <span class="progress-description"> </span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>



            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                    <div class="info-box-content progressBar">
                        <span class="info-box-text" style="font-size: 1rem">FONCTIONNAIRE</span>
                        <span class="info-box-number"> : {{ effectFONCT }}</span>
                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" style="width:{{ sommeFONCT }}%">{{ sommeFONCT }}%</div>
                        </div>
                        <span class="progress-description"></span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div>
        </div>
 
            

    </div> 
    
    {% include "pages/_formSearch.html.twig" %} 

    <div class="alert alert-primary" role="alert">Liste Personnel</div>
    <table class="table table-hover">
        <tr>
            <td>Nom et Prénom(s) </td>
            <td>Téléphone</td>
            <td>Adresse</td>
            <td>Service/Etablissement </td>
            <td>Catégorie </td>
            <td>Action </td>
        </tr>
        {% for personnel in personnels %}
            <tr>
                <td><a href="{{ path('personnel.show', {'id': personnel.id, 'slug': personnel.slug}) }}" >{{ personnel.nomprenom }} </a></td>
                <td>{{ personnel.telephone }}</td>
                <td>{{ personnel.adresseactuelle }}</td>
                <td> {% if  personnel.etsouservice.etsouservice is defined %} {{ personnel.etsouservice.etsouservice }} {% endif %} </td>
                <td>{{ personnel.categorie.categorie }} </td>
                <td>
                    <form action="" method="post">
                        <a href="{{ path('personnel.edit', {'id': personnel.id, 'slug': personnel.slug}) }}" class="btn btn-primary btn-sm">Modifier</a>

                        {#<a href="{{ path('auto_absence_new', {'id': personnel.id, 'slug': personnel.slug }) }}" class="btn btn-success" style="display: inline-block">Auto Absence</a>#}


                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(personnels) }}
    
{% endblock %}

{% block javascripts %}{% endblock %}
