{% extends 'base.html.twig' %}

{% block body %}
	<h2>Personnel retraité de l'année : {{ annee }}  </h2>
<table class=" table table-striped">
	<thead>
		<tr>
			<td>Nom & Prénom(s)</td>
			<td>Catégorie</td>
			<td>Service ou Etablissement</td>
			<td>Détachement</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		{% for personnel in personnel %}
		<tr>
			<td> {{ personnel.nomprenom }} </td>
			<td>{{ personnel.categorie }}</td>
			<td></td>
			<td></td>
			<td>
				<a  href="{{ path('personnel.show', {id : personnel.id}) }}" class="btn btn-primary btn-sm">Voir</a>
				<a  href="{{ path('personnel.edit', {id : personnel.id}) }}" class="btn btn-success btn-sm">Editer</a>
			</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
	<div class="alert alert-primary" role="alert">
		Le présent retraite de l'année {{ annee }} est arrêté au nombre de {{ personnel | length }}
	</div>
{% endblock %}